# فایل‌های محیط مجازی
venv/
env/

# فایل‌های موقت پایتون
__pycache__/
*.pyc

# فایل دیتابیس محلی
*.sqlite3
db.sqlite3

# فایل‌های رسانه‌ای که توسط کاربران آپلود می‌شود
/media/

# فایل‌های استاتیک جمع‌آوری شده
/staticfiles/

# فایل متغیرهای محیطی (حاوی اطلاعات حساس)
.env

