{% extends 'base.html' %}
{% block title %}رمز عبور با موفقیت تغییر کرد{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center">
                <h4 class="alert-heading">موفقیت‌آمیز!</h4>
                <p>رمز عبور شما با موفقیت به‌روزرسانی شد.</p>
                <hr>
                <a href="{% url 'profile' %}" class="btn btn-success">بازگشت به پروفایل</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}